#cor{
    background-color: rgb(219, 0, 138) ;

}
.nav-container{
    background-color: rgb(22, 19, 19);
    padding:  px;
    border-bottom: purple solid 1px;
    box-shadow: rgb(219, 0, 138) 1px 3px 10px;
    flex-wrap: wrap;
    font-style: none;  
    
}
.nav-container ul{

    padding: 10 px;
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

.nav-container ul li{
    padding: 10px;
    background-color: rgb(22, 19, 19);
    border-color: rgb(219, 0, 138);
    border-width: 5px;
    border-style: dashed;

}


.nav-container ul li a{
    color: #fffffffe;
    text-decoration: none;
    font-style: none;
     
}